@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Special+Gothic+Expanded+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.creditRateFrame {
  height: auto; 
  min-height: 110vh; 
  position: relative;
  display: flex; 
  flex-direction: column;
}

.creditRateTitle {
  font-size: 35px;
  font-weight: 600;
  padding-left: 15.5%;
  padding-top: 2%;
  font-family: "Noto Sans KR", sans-serif;
}

.bannerFrame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1150px;
  height: 150px;
  border-radius: 8px;
  background-color: #f4f8ff;
  margin: 0 auto;
  margin-top: 2%;
}

.bannerTextCt {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 3%;
  gap: 10px;
}

.bannerText {
  font-size: 28px;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
}

.bannerText2 {
  font-size: 18px;
  font-weight: 400;
  color: #999;
  font-family: "Noto Sans KR", sans-serif;
}

.bannerImg {
  width: 140px;
  height: 140px;
  margin-right: 5%;
  margin-top: 1%;
}